/* RESET */
* {
  margin: 0;
  padding: 0;               /*DA CANCELLARE SE SI USA UN FRAMEWORK*/
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE GENERALI */

/* FINE REGOLE GENERALI */
